<h1>Bienvenue sur la page d'accueil de The Gossip Project !</h1>
<br>
<h3>Liste des potins en magasin :</h3>
<br>
<%= Gossip.all.each_with_index do |gossip,index| %>
<p>		Le potin numéro <%=index+1%> s'intitule <%=gossip.title %> et nous a été gentiment rapporté par <a href=http://localhost:3000/user/<%=gossip.user.first_name%>><%=gossip.user.first_name%></a>.
</p>
<br>
<% end %>
