<h1>Page de création d'un nouveau potin</h1>
<br>
<br>
<div class="alert alert-danger" role="alert">
<% if @gossip.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>
<br>
<h5>Veuillez remplir les champs ci-dessous et cliquer sur "Valider" :</h5>

<br>
<%= form_tag(gossips_path, method: "post") do %>
  <%= label_tag(:title, "Titre du potin :") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:content, "Contenu du potin :") %>
  <%= text_field_tag(:content) %>
  <%= submit_tag("Valider") %>
<% end %>
