<h3>Plus d'informations sur l'utilisateur que vous avez sélectionné :</h3>


<br>
<p>Prénom : <%= @user.first_name %></p>
<p>Nom : <%= @user.last_name %></p>
<p>Age : <%= @user.age %></p>
<p>Email : <%= @user.email %></p>
<p>Description : <%= @user.description %></p>
<p>Ville : <%= @user.city %></p>
<br>
